#page
{
	position:absolute;
     width:300px;
     height:350px;
     z-index:15;
     top:50%;
     left:50%;
     margin:-175px 0 0 -150px;
     
}
#content h1{
	padding:10px;
	margin:0;
}
form#login-form input[type="text"],form#login-form input[type="password"] {
    width:250px;
}