div.left_menu {
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;

    -webkit-box-shadow: -10px 0px 20px #ffffff;
    -moz-box-shadow: -10px 0px 20px #ffffff;
    box-shadow: -10px 0px 20px #ffffff;
    -webkit-box-shadow: 0px 0px 10px #772B14;
    -moz-box-shadow: 0px 0px 10px #772B14;
    box-shadow: 0px 0px 10px #772B14;
}

div.left_menu div.title {
    border-radius:0px 10px 0px 0px;
    -moz-border-radius-topright: 10px;

    background: -webkit-gradient(
        linear,
        right top,
        right bottom,
        color-stop(0, rgb(112,112,112)),
        color-stop(0.98, rgb(60,60,60))
        );
    background: -moz-linear-gradient(
        center top,
        rgb(112,112,112) 0%,
        rgb(60,60,60) 98%
        );
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 0px;
}

div.left_menu div.title a {
    text-shadow: none;
}

/* ------------------------------------------------- */

div.left_menu {
    position: fixed;
    width: 180px;
    left: 0px;
    top: 160px;
    background: #FFFFFF;
    border-right: 0px none;
    z-index: 10000;
}


div.left_menu div.title {
    background: #666;
    border-bottom: 1px solid #888;
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-bottom: 0em;
    color: #FFF;
    font-weight: bold;
}

div.left_menu div.title a {
    font-weight: normal;
    /* float: left;*/
   float: right;
    margin-right: 0.4em;
    text-decoration: none;
    color: #CCC;
}

