<p>
</p>
<!-- [if !mso]><style>v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style><![endif]-->
<p>
	Aconex Email Notification
</p>
<!-- [if gte mso 9]><xml>
<o:shapedefaults v:ext="edit" spidmax="1026" />
</xml><![endif]--><!-- [if gte mso 9]><xml>
<o:shapelayout v:ext="edit">
<o:idmap v:ext="edit" data="1" />
</o:shapelayout></xml><![endif]-->
<div class="WordSection1">
<p class="MsoNormal">
	<span style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; color: #1f497d; mso-fareast-language: EN-US;">
		&nbsp;
	</span>
</p>
<p class="MsoNormal">
	<a name="_MailEndCompose">
	</a>
	<span style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; color: #1f497d; mso-fareast-language: EN-US;">
		&nbsp;
	</span>
</p>
<div>
	<div style="border: none; border-top: solid #E1E1E1 1.0pt; padding: 3.0pt 0cm 0cm 0cm;">
		<p class="MsoNormal">
			<strong>
				<span lang="EN-US" style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; color: windowtext;">
					From:
				</span>
			</strong>
			<span lang="EN-US" style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; color: windowtext;">
				Naveen Jeyaseelan [mailto:N.Jeyaseelan@preciseair.com.au] <br />
				<strong>
					Sent:
				</strong>Tuesday, 9 December 2014 10:39 AM<br />
				<strong>
					To:
				</strong>sranjit@enravel.com.au<br />
				<strong>
					Cc:
				</strong>'Ashmita Thapa'<br />
				<strong>
					Subject:
				</strong>FW: BUILT-TRANSMIT-000117: Updated Architectural Plans - 20141208 ACNXREF&lt;hrwucRN9yUIL90lDLhoY4&gt;
			</span>
		</p>
	</div>
</div>
<p class="MsoNormal">
	&nbsp;
</p>
<p class="MsoNormal">
	<span style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; color: #1f497d;">
		&nbsp;
	</span>
</p>
<p class="MsoNormal">
	<span style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; color: #1f497d;">
		&nbsp;
	</span>
</p>
<p class="MsoNormal" style="background: white;">
	<strong>
		<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: #004080;">
			Naveen Jeyaseelan
		</span>
	</strong>
	<span style="font-size: 10.5pt; font-family: 'Arial',sans-serif; color: #50687d;">
		<br />
	</span>
	<span style="font-size: 10.0pt; font-family: 'Arial',sans-serif; color: #666666;">
		Estimator
	</span>
</p>
<p class="MsoNormal">
	<em>
		<span style="font-size: 10.5pt; font-family: 'Arial',sans-serif; color: #50687d;">
			&nbsp;
		</span>
	</em>
</p>
<p class="MsoNormal" style="margin-bottom: 11.0pt; mso-line-height-alt: 1.0pt; background: white;">
	<img id="_x0000_i1025" src="cid:precisearbslogos211565" alt="" width="386" height="80" />
</p>
<p class="MsoNormal" style="margin-bottom: 12.0pt; line-height: 13.5pt; background: white;">
	<span style="font-size: 9.0pt; font-family: 'Arial',sans-serif; color: #666666;">
		Precise Air Group<br />2 Hill Road<br />Homebush NSW 2140 Australia
	</span>
</p>
<p class="MsoNormal" style="margin-bottom: 12.0pt; line-height: 13.5pt; background: white;">
	<strong>
		<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: #004080;">
			T
		</span>
	</strong>
	<strong>
		<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">
			&nbsp;&nbsp;
		</span>
	</strong>
	<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: #666666;">
		1300 728 250
	</span>
	<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">
		<br />
	</span>
	<strong>
		<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: #004080;">
			F
		</span>
	</strong>
	<strong>
		<span style="font-size: 11.0pt; color: #004080;">
			&nbsp;&nbsp;
		</span>
	</strong>
	<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: #666666;">
		1300 728 269
	</span>
	<span style="font-size: 11.0pt; color: #666666;">
		<br />
	</span>
	<strong>
		<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: #004080;">
			M&nbsp;
		</span>
	</strong>
	<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: #666666;">
		0414 166 562
	</span>
	<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">
		<br />
	</span>
	<strong>
		<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: #004080;">
			E&nbsp;
		</span>
	</strong>
	<strong>
		<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">
			&nbsp;
		</span>
	</strong>
	<span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: #666666;">
		<a href="mailto:N.Jeyaseelan@preciseair.com.au">
			N.Jeyaseelan@preciseair.com.au
		</a>
	</span>
	<span style="font-size: 9.0pt; font-family: 'Arial',sans-serif; color: #50687d;">
		<br />
	</span>
	<span lang="EN" style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: #666666;">
		<a href="http://www.preciseair.com.au">
			www.preciseair.com.au
		</a>
	</span>
</p>
<p>
	<img id="_x0000_i1026" src="cid:greencert311e16" alt="" width="226" height="58" border="0" />
</p>
<p class="MsoNormal" style="background: white;">
	<span style="font-size: 9.0pt; font-family: 'Arial',sans-serif; color: #393838;">
		&nbsp;
	</span>
</p>
<p class="MsoNormal" style="line-height: 8.25pt; background: white;">
	<span style="font-size: 7.5pt; font-family: 'Arial',sans-serif; color: #a11837;">
		Important Notice:
	</span>
	<span style="font-size: 7.5pt; font-family: 'Arial',sans-serif; color: #50687d;">
		&nbsp;
	</span>
	<span style="font-size: 7.5pt; font-family: 'Arial',sans-serif;">
		This email, including attachments is intended solely for the addressee. It may be confidential and/or privileged. Unauthorised use is strictly prohibited. If you are not the intended recipient, any disclosure, copying, or distribution of this email, except for the purpose of the delivery to the addressee, is strictly prohibited. Any confidentiality or privilege is not waived or lost if you have received this email in error. If you have received this email in error, please inform Precise Air Group Pty Limited of the mistake by reply email and delete all copies from your computer system. We do not accept liability in connection with computer virus, data corruption, delay, interruption, unauthorised access or unauthorised amendment.
	</span>
</p>
<p class="MsoNormal" style="background: white;">
	<span style="color: #393838;">
		&nbsp;
	</span>
</p>
<p class="MsoNormal" style="background: white;">
	<span style="font-size: 9.0pt; font-family: Webdings; color: #9bbb59;">
		P
	</span>
	<span style="font-size: 7.5pt; font-family: 'Arial',sans-serif; color: #9bbb59;">
		&nbsp;
	</span>
	<span style="font-size: 7.5pt; font-family: 'Tahoma',sans-serif; color: #99cc00;">
		Please consider the environment before printing this e-mail
	</span>
</p>
<p class="MsoNormal">
	<span style="color: windowtext;">
		&nbsp;
	</span>
</p>
<div>
	<div style="border: none; border-top: solid #B5C4DF 1.0pt; padding: 3.0pt 0cm 0cm 0cm;">
		<p class="MsoNormal">
			<strong>
				<span lang="EN-US" style="font-size: 10.0pt; font-family: 'Tahoma',sans-serif; color: windowtext;">
					From:
				</span>
			</strong>
			<span lang="EN-US" style="font-size: 10.0pt; font-family: 'Tahoma',sans-serif; color: windowtext;">
				Joel Redman [
				<a href="mailto:auto-reply-mel@aconex.com">
					mailto:auto-reply-mel@aconex.com
				</a>] <br />
				<strong>
					Sent:
				</strong>Monday, 8 December 2014 4:48 PM<br />
				<strong>
					To:
				</strong>Naveen Jeyaseelan<br />
				<strong>
					Subject:
				</strong>BUILT-TRANSMIT-000117: Updated Architectural Plans - 20141208 ACNXREF&lt;hrwucRN9yUIL90lDLhoY4&gt;
			</span>
		</p>
	</div>
</div>
<p class="MsoNormal">
	&nbsp;
</p>
<table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding: 0cm 0cm 0cm 0cm;">
	<p class="MsoNormal">
		&nbsp;
	</p>
</td>
<td style="padding: 0cm 0cm 0cm 0cm;">
<p>
	<span class="blueregtext1">
		<span style="font-size: 9.0pt;">
			You have received a new
			<a title="Click here to view BUILT-TRANSMIT-000117" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL&amp;ID=1482150439">
				<strong>
					<span style="color: #e86c16;">
						Transmittal: BUILT-TRANSMIT-000117
					</span>
				</strong>
			</a>
		</span>
	</span>
</p>
<table id="table1" class="MsoNormalTable" border="0" cellspacing="1" cellpadding="0">
	<tbody>
		<tr>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="text-align: right; line-height: 140%;" align="right">
					<strong>
						<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
							Project:
						</span>
					</strong>
				</p>
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="line-height: 140%;">
					<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
						&nbsp;&nbsp;
					</span>
				</p>
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="line-height: 140%;">
					<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
						Holiday Inn - DH
					</span>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="text-align: right; line-height: 140%;" align="right">
					<strong>
						<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
							Type:
						</span>
					</strong>
				</p>
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				&nbsp;
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="line-height: 140%;">
					<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
						Transmittal
					</span>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="text-align: right; line-height: 140%;" align="right">
					<strong>
						<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
							Mail Number:
						</span>
					</strong>
				</p>
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				&nbsp;
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="line-height: 140%;">
					<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
						BUILT-TRANSMIT-000117
					</span>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0cm 0cm 0cm 0cm;" valign="top">
				<p class="MsoNormal" style="text-align: right; line-height: 140%;" align="right">
					<strong>
						<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
							To:
						</span>
					</strong>
				</p>
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				&nbsp;
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="line-height: 140%;">
					<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
						Mr John Liska, ABE Consulting <br />Mr Abe Strbik, ABE Consulting <br />Mr Kieran Mitford, Belvia Services <br />Martin Fox, Belvia Services <br />Scott Ivimey, Belvia Services <br />Mr Grant Sankey, Belvia Services <br />Natalie Thickpenny, Belvia Services <br />Mr Thomas Benn, BG&amp;E <br />Mr Paul Catanzariti, BG&amp;E <br />Mr Dimitris Hadjichari, BG&amp;E <br />Mr Adam Walmsley, BG&amp;E <br />Mr Kurt Elliott, Built Pty Ltd <br />Mrs Dominique Gill, Built Pty Ltd <br />Mr Ramsay Horton, Built Pty Ltd <br />Mr Joel Redman, Built Pty Ltd <br />Mr Bradley North, Executive Group Services <br />Mr Daniel Choi, Harris Page &amp; Associates Pty Ltd <br />Mr Glen Mitchell, Holmes Fire <br />Dr James O'Neill, Holmes Fire <br />Mr Adityo Karjanto, IA Group Pty. Ltd. <br />Mr Arnold Tan, IA Group Pty. Ltd. <br />Innes Wilson, IA Group Pty. Ltd. <br />Mr Mark Andrew, Linker Surveying Pty Ltd <br />Mr Andrew Livingstone, Master Carpets <br />Sasha Belobrajdic, Nu Line Building Group <br />Mr Michael Lebic, Nu Line Building Group <br />Andrew Farrugia, Precise Air Group Contracting <br />
						<strong>
							Mr Naveen Jeyaseelan, Precise Air Group Contracting <br />
						</strong>Mr Darren Miles, Precise Air Group Contracting <br />Simon Taylor, Precise Air Group Contracting <br />Mr theo rigas, precise fire <br />Mr Mario Savva, Savcon <br />Mr Michael Karavelatzis, Smart Plumbing Solutions <br />Mr Vince Molluso, Smart Plumbing Solutions <br />Mr Peter Tran, Steve Watson &amp; Partners <br />Mr Steven Plesa, Stream Line Joinery <br />Mr Luke Andonopoulos, Synergy Engineering
					</span>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="text-align: right; line-height: 140%;" align="right">
					<strong>
						<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
							From:
						</span>
					</strong>
				</p>
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				&nbsp;
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="line-height: 140%;">
					<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
						J Redman, Built Pty Ltd
					</span>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="text-align: right; line-height: 140%;" align="right">
					<strong>
						<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
							Sent:
						</span>
					</strong>
				</p>
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				&nbsp;
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="line-height: 140%;">
					<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
						08/12/2014 4:47:57 PM EST (GMT +11:00)
					</span>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="text-align: right; line-height: 140%;" align="right">
					<strong>
						<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
							Reason:
						</span>
					</strong>
				</p>
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				&nbsp;
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="line-height: 140%;">
					<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
						Issued for Construction
					</span>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="text-align: right; line-height: 140%;" align="right">
					<strong>
						<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
							Status:
						</span>
					</strong>
				</p>
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				&nbsp;
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="line-height: 140%;">
					<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
						N/A
					</span>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="text-align: right; line-height: 140%;" align="right">
					<strong>
						<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
							Subject:
						</span>
					</strong>
				</p>
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				&nbsp;
			</td>
			<td style="padding: 0cm 0cm 0cm 0cm;">
				<p class="MsoNormal" style="line-height: 140%;">
					<strong>
						<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
							Updated Architectural Plans - 20141208
						</span>
					</strong>
				</p>
			</td>
		</tr>
	</tbody>
</table>
<p class="MsoNormal">
	&nbsp;
</p>
<div class="MsoNormal" style="text-align: center;" align="center">
	<hr align="center" size="2" width="100%" />
</div>
<p class="pbody" style="line-height: 140%;">
	<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
		&nbsp;
	</span>
</p>
<p class="pbody" style="line-height: 140%;">
	<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
		&nbsp;
	</span>
</p>
<p class="MsoNormal" style="line-height: 140%;">
	<span style="font-size: 10.5pt; line-height: 140%; font-family: 'Calibri',sans-serif;">
		Regards,
	</span>
</p>
<p class="pbody" style="line-height: 140%;">
	<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
		&nbsp;
	</span>
</p>
<p class="pbody" style="line-height: 140%;">
	<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
		&nbsp;
	</span>
</p>
<p class="MsoNormal" style="line-height: 140%;">
	Joel Redman<br />Contract Administrator
</p>
<p class="MsoNormal" style="margin-bottom: 12.0pt; line-height: 140%;">
	<span style="color: gray;">
		Sydney | Melbourne | Brisbane | Perth | Canberra<br />Level 7/343 George St Sydney NSW 2000<br />[m] 0432 050 325 [t] 02 8332 4111 [f] 02 8332 4199
	</span><br />
	<span style="font-size: 10.0pt; line-height: 140%; color: gray;">
		<a href="http://www.built.com.au/">
			<span style="font-family: 'Calibri',sans-serif; color: gray;">
				www.
			</span>
		</a>
	</span>
	<span style="font-size: 10.0pt; line-height: 140%; color: #ff8000;">
		<a href="http://www.built.com.au/">
			<span style="font-family: 'Calibri',sans-serif; color: #ff8000;">
				Built
			</span>
		</a>
	</span>
	<span style="font-size: 10.0pt; line-height: 140%; color: gray;">
		<a href="http://www.built.com.au/">
			<span style="font-family: 'Calibri',sans-serif; color: gray;">
				.com.au
			</span>
		</a>
	</span>
</p>
<div class="MsoNormal" style="text-align: center;" align="center">
	<hr align="center" size="2" width="100%" />
</div>
<table class="MsoNormalTable" style="width: 100.0%; background: #F8F8F8;" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;" colspan="5">
		<p class="MsoNormal" style="line-height: 140%;">
			<span class="blueregtext1">
				<strong>
					<span style="font-size: 9.0pt; line-height: 140%;">
						Uploaded Documents
					</span>
				</strong>
			</span>
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<br />
				<span class="blueregtext1">
					Attachments are larger than your preference of 10MB for external email - &nbsp;or&nbsp;
					<strong>
						<a title="Click here to view BUILT-TRANSMIT-000117" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL&amp;ID=1482150439">
							<span style="color: #e86c16;">
								view this Mail on Aconex
							</span>
						</a>
					</strong>to retrieve them
				</span>
			</span>
		</p>
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<strong>
				<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
					Document No.
				</span>
			</strong>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<strong>
				<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
					Revision
				</span>
			</strong>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<strong>
				<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
					Title
				</span>
			</strong>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<strong>
				<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
					Status
				</span>
			</strong>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<strong>
				<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
					File Name
				</span>
			</strong>
		</p>
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				AIGROUP-AR-12.15&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				A&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				BEDHEADS, VARIATIONS&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Review &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-12.15 - A.pdf" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496418">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-12.15 - A.pdf
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				AIGROUP-AR-12.30- A&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				A&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				RETAIL 1-PLAN/SECTION DETAILS&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-12-30 - A.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496419">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-12-30 - A.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				AR-26.01&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				roller shutter&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-26.01 - B.pdf" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496420">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-26.01 - B.pdf
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				AR-26.01-B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				TYPICAL ROLLER SHUTTER DETAIL&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download AR-26.01-B WINDOW DOOR DETAILS.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496421">
					<strong>
						<span style="color: #e86c16;">
							AR-26.01-B WINDOW DOOR DETAILS.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				AR-26.02&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				C&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				TYPICAL DETAILS, LEVEL 1&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-26.02 - C.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496422">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-26.02 - C.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				AR-26.03&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				C&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				TYPICAL DETAILS, LEVEL 2&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-26.03 - C.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496423">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-26.03 - C.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-26.01&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				TYPICAL ROLLER SHUTTER DETAIL&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-26.01-B.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496424">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-26.01-B.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-26.01-B PDF&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				TPICAL ROLLERSHUTTER DETAILS&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-26.01 - B.pdf" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496425">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-26.01 - B.pdf
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR -11.00&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				E&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				MASTERPLAN- GROUND- CAD&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-11-00 - E.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496426">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-11-00 - E.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR -11.01&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				K&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				MASTERPLAN- FIRST- CAD&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-11-01 - K.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496427">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-11-01 - K.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR -11.02&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				G&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				MASTERPLAN- SECOND- CAD&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-11-02-G.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496428">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-11-02-G.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR -31.01&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				E&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				PARTITION PLAN- FIRST- CAD&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-31.01-E.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496429">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-31.01-E.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR -31.01B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				D&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				PARTITION PLAN LEVEL 1 2OF 2&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-31-01B-D.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496430">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-31-01B-D.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR -31.02&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				A&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				PARTITION PLAN- SECOND -CAD&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-31.02-B.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496431">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-31.02-B.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR -31.02A 1 OF 1&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				D&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				PARTITION PLAN LEVEL 2 1/50&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-31-02A-D.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496432">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-31-02A-D.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR -31.03&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				A&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				PARTITION PLAN- SECOND- CAD&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-31.03 - A.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496433">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-31.03 - A.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR -41.01&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				E&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				REFLECTED CEILING PLAN- FIRST- CAD&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-41.01 - E.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496434">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-41.01 - E.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR -41.02&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				REFLECTED CEILING PLAN- SECOND- CAD&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-41.02 - B.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496435">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-41.02 - B.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR- 12.01&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				E&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				BATHROOM LAYOUT TYPE 1&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-12-01 - E.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496436">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-12-01 - E.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR- 12.03&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				D&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				LEVEL 1 NON-TYPICALBATHROOM LAYOUTS&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-12-03 - D.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496437">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-12-03 - D.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR- 12.06&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				BATHROOM DETAILS&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-12-06 - B.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496438">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-12-06 - B.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR- 35.00DWG&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				PARTITION PLAN-GROUND FLOOR DWG&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-31-00-B.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496439">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-31-00-B.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR-00.00- A&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				A&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				TITTLE &amp; PREAMBLE&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-00-00 - A.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496440">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-00-00 - A.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR-00.00-A&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				A&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				TITTLE &amp; PREAMBLE&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-00.00 - A.pdf" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496441">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-00.00 - A.pdf
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR-11-01&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				MASTER PLAN - LEVEL 1&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Review &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download ST14037-Sheet - AR-11-01 - MASTER PLAN - LEVEL 1.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496442">
					<strong>
						<span style="color: #e86c16;">
							ST14037-Sheet - AR-11-01 - MASTER PLAN - LEVEL 1.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR-11-02&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				A&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				MASTER PLAN - LEVEL 2&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Review &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download ST14037-Sheet - AR-11-02 - MASTER PLAN - LEVEL 2.dwg" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496444">
					<strong>
						<span style="color: #e86c16;">
							ST14037-Sheet - AR-11-02 - MASTER PLAN - LEVEL 2.dwg
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR-11.00&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				E&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				MASTERPLAN- GROUND FLOOR&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-11.00 - E.pdf" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496445">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-11.00 - E.pdf
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR-11.01&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				K&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				MASTER PLAN - LEVEL 1&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-11.01 -K.pdf" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496446">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-11.01 -K.pdf
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR-11.02&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				G&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				MASTER PLAN - LEVEL 2&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-11.02 - G.pdf" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496447">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-11.02 - G.pdf
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR-12.01&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				E&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				BATHROOM LAYOUT TYPE 1&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-12.01 - E.pdf" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496448">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-12.01 - E.pdf
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR-12.03&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				D&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				LEVEL 1 NON-TYPICALBATHROOM LAYOUTS&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-12.03 - D.pdf" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496449">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-12.03 - D.pdf
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				IAGROUP-AR-12.06&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				B&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				BATHROOM DETAILS&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				For Construction &nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		<p class="MsoNormal" style="line-height: 140%;">
			<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
				<a title="Click here to download IAGROUP-AR-12.06 - B.pdf" href="https://au1.aconex.com/Logon?Action=View&amp;ENTITY=MAIL_ATTACHMENT&amp;ID=1497496450">
					<strong>
						<span style="color: #e86c16;">
							IAGROUP-AR-12.06 - B.pdf
						</span>
					</strong>
				</a>&nbsp;
			</span>
		</p>
	</td>
	<td style="padding: 0cm 0cm 0cm 0cm;">
		&nbsp;
	</td>
</tr>
<tr>
<td style="padding: 0cm 0cm 0cm 0cm;">
	<p class="MsoNormal" style="line-height: 140%;">
		<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
			IAGROUP-AR-12.10&nbsp;
		</span>
	</p>
</td>
<td style="padding: 0cm 0cm 0cm 0cm;">
	<p class="MsoNormal" style="line-height: 140%;">
		<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
			A&nbsp;
		</span>
	</p>
</td>
<td style="padding: 0cm 0cm 0cm 0cm;">
	<p class="MsoNormal" style="line-height: 140%;">
		<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
			TYPICAL ROOM LAYOUT&nbsp;
		</span>
	</p>
</td>
<td style="padding: 0cm 0cm 0cm 0cm;">
	<p class="MsoNormal" style="line-height: 140%;">
		<span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;">
			For Construction &nbsp;
		</span>
	</p>
</td>
<td style="padding: 0cm 0cm 0cm 0cm;">
<p class="MsoNormal" style="line-height: 140%;"><span style="font-size: 9.0pt; line-height: 140%; font-family: 'Arial',sans-serif; color: #333333;"></p>
</td>
<td></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>